* {
  margin: 0;
  padding: 0;
  /* boxsizing: property sets how the total width and height of an element is calculated.
  border-box: child container border stays within inner border of parent container border at 100%
  content-box: child container border can extend past outer border of parent container border at 100% and the right amount of padding.
   */
  box-sizing: border-box;
}

.App {
  text-align: center;
  /* include height of  */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.Background-Container {
  /* background-image: url("../public/main\ pictures/building2.jpg"); */
  background-image: url("../public/main\ pictures/nyc background.jpg");
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
