/* working on the Navbar itself through a self-entitled class name */
.Navbar {
    height: 25px;
    display: flex;
    /* formattign the space between the log */
    justify-content: space-between;
    align-items: center;
    /* background: #E0F7FA */
    background: gray


}
