/* working on the Navbar itself through a self-entitled class name */
.Navbar {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgray
}
