/* working on the Navbar itself through a self-entitled class name */
.Navbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../public/')
}
