#about-background {
  background-image: url("../main-pictures/sky2.jpg");
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

#about-me-div {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
  /* padding-left: 5%; */
}

.about-me-title {
  font-family: "Monserrat";
  text-align: center;
}

.about-me-summary {
width: 100%;
}

.first-group {
width: 30%;
float: left;
}

.second-group {
width: 60%;
float: right;
}