#about-background {
  background-image: url("../main-pictures/sky2.jpg");
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.about-me-title {
  font-family: "Monserrat";
  text-align: center;
  margin-bottom: 5vh;
}

.about-me-summary {
width: 100%;
line-height: 1.5;
font-size: 1.2em;
padding: 0 10%;
text-align: justify;
font-weight: 700;
}

.first-group {
width: 45%;
float: left;
}

.second-group {
width: 45%;
float: right;
}

@media (min-width: 0px) and (max-width: 830px) {
.main-container {
  font-size: 0.7rem;
  overflow: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}

.about-me-summary {
  text-align: left;
  line-height: 2;
}

.arrows-sub-container{
  display: none;
}
}