* {
  margin: 0;
  padding: 0;
  /* boxsizing: property sets how the total width and height of an element is calculated.
  border-box: child container border stays within inner border of parent container border at 100%
  content-box: child container border can extend past outer border of parent container border at 100% and the right amount of padding.
   */
  box-sizing: border-box;
}

.App {
  text-align: center;
  /* include full height */
  height: 100vh;
}

/* .Background-Container {
  background-image: url("../main-pictures/manhattan-bridge.jpg");
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
} */

.body-main {
  position: relative;
}

/* media queries */
/* @media (min-width: 320px) {
  .inner-nav{
    : ;
  }
} */

/* #oseni {
  height: 33px;
} */

.desc-sub-container {
  color: white;
  height: 40rem;
  border: 3px solid line;
}

/* .arrows-sub-container {
  margin-top: 20%;
} */

.arrows {
  cursor: pointer;
  color: white;
  height: 2em;
  width: 2em;
}
