* {
  margin: 0;
  padding: 0;
  /* boxsizing: property sets how the total width and height of an element is calculated.
  border-box: child container border stays within inner border of parent container border at 100%
  content-box: child container border can extend past outer border of parent container border at 100% and the right amount of padding.
   */
  box-sizing: border-box;
  overflow: hidden;
}

.App {
}

.body-main {
  position: relative;
}

.desc-sub-container {
  color: white;
  margin-top: 2rem;
  height: 20rem;
  overflow: visible;
  border: 3px solid line;
}


.arrows-sub-container {
  padding: 5% 0 0 50%;
}

.arrows {
  cursor: pointer;
  color: white;
  opacity: 0.3;
  height: 2em;
  width: 2em;
}

.arrows:hover {
  opacity: 1;
}
