* {
  margin: 0;
  padding: 0;
  /* boxsizing: property sets how the total width and height of an element is calculated.
      border-box: child container border stays within inner border of parent container border at 100%
      content-box: child container border can extend past outer border of parent container border at 100% and the right amount of padding.
       */
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
}

#contact-background {
  background-image: url("../main-pictures/nyc\ background.jpg");
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.body-main {
  position: relative;
}

/* change to oseni */
#ndevr {
  height: 33px;
}

.contact-title {
  /* color: white; */
  /* color: yellow; */
  color: #e9ff32;
  text-align: left;
  padding-left: 1rem;
}
