#contact-background {
  background-image: url("../main-pictures/at-the-park.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.overlay {
  top: 0;
  left: 0;
  display: inline-block;
  background-color: red;
  z-index: 100;
}

.body-main {
  position: relative;
}

.contact-title {
  color: white;
  font-family: "Monserrat";
  padding-bottom: 1em;
}

.desc-sub-container {
  padding-left: 5%;
}