#contact-background {
  background-image: url("../main-pictures/nice-hue-great-sky.jpg");
  opacity: 0.5;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.body-main {
  position: relative;
}

.contact-title {
  color: white;
  font-family: "Monserrat";
  padding-bottom: 1em;
}

.desc-sub-container {
  padding-left: 5%;
}
