.direct-contact {
  text-align: left;
  /* padding-left: 1rem; */
  font-family: "Raleway";
  font-weight: 700;
}

.contact-info {
  color: #00ffff;
  font-size: 1em;
  font-weight: 700;
  line-height: 2;
  padding-left: 1%;
}

.contact-links {
  width: 60%;
}

.float-links {
  float: left;
  width: 20%;
}

form > ul {
  line-height: 2;
}

.icons {
  font-size: 2em;
}

.contact-form {
  padding-top: 15vh;
}

li {
  line-height: 3;
}

.subtitle {
  font-weight: 700;
  line-height: 2;
}

.input-wrapper {
  display: inline-block;
  position: relative;
  max-width: 500px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  transition: all ease-in-out 0.3s;
  overflow: visible;
}

input::placeholder {
  color: #00ffff;
  font-weight: 700;
  font-size: 1em;
}

input:focus {
  outline: none;
  color: #00ffff;
}

input:focus::placeholder {
  color: transparent;
}

input {
  border: 0;
  background-color: transparent;
  width: 500px;
  padding: 0 0.25rem;
  color: white;
  outline: none;
  overflow: visible;
  padding-bottom: 0.25rem;
  font-weight: 700;
  font-size: 1em;
}

form > ul > button {
  background-color: white;
  padding: 0.125rem 0.25rem;
  margin-top: 3vh;
  border: solid;
  border-radius: 15%;
  color: #4b4d50;
  cursor: pointer;
  font-weight: 700;
}
