.direct-contact {
  text-align: left;
  padding-left: 1rem;
}

.contact-info {
  color: yellow;
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
}

li {
  line-height: 3;
}

input {
  position: absolute;
  visibility: hidden;
}

.subtitle {
  font-weight: 700;
  line-height: 2;
}

.contact-form-input {
  display: inline-block;
  position: relative;
  max-width: 240px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  transition: all ease-in-out 0.3s;
  color: yellow;
}


.contact-form-input.focus:after {
  display: none !important;
}


.contact-form-input:after {
  position: absolute;
  left: 0;
  font-size: 14px;
  color: yellow;
  font-family: "Montserrat", sans-serif;
  transition: all ease 0.3s;
}
