.direct-contact {
  /* text-align: left; */
  font-family: "Raleway";
  font-weight: 700;
  margin-top: 5vh;
}

.contact-info {
  color: #00ffff;
  font-size: 1em;
  font-weight: 700;
  line-height: 2;
}

.contact-links {
  text-align: center;
  width: 100%;
  margin-left: 45%
}

.float-link-1 {
  float: left;
  width: 10%;
}

.float-link-2, .float-link-3 {
  float: left;
  width: 10%;
}

.contact-form {
padding-top: 5vh;
}

form > ul {
  line-height: 2;
}

.icons {
  font-size: 2em;
}

li {
  line-height: 3;
}

.subtitle {
  font-weight: 700;
  line-height: 2;
}

.contact-form ul {
  padding-top: 2vh;
}

.input-wrapper {
  display: inline-block;
  position: relative;
  max-width: 500px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  transition: all ease-in-out 0.3s;
  overflow: visible;
}

input::placeholder {
  color: #00ffff;
  font-weight: 700;
  font-size: 1em;
}

input:focus {
  outline: none;
  color: #00ffff;
}

input:focus::placeholder {
  color: transparent;
}

input {
  border: 0;
  background-color: transparent;
  width: 500px;
  padding: 0 0.25rem;
  color: white;
  outline: none;
  overflow: visible;
  padding-bottom: 0.25rem;
  font-weight: 700;
  font-size: 1em;
}

form > ul > button {
  background-color: white;
  padding: 0.125rem 0.25rem;
  margin-top: 3vh;
  border: solid;
  border-radius: 15%;
  color: #4b4d50;
  cursor: pointer;
  font-weight: 700;
}
