.direct-contact {
  text-align: left;
  /* padding-left: 1rem; */
  font-family: "Raleway";
  font-weight: 700;
}

.contact-info {
  color: #4b4d50;
  font-size: 1em;
  font-weight: 700;
  line-height: 2;
  padding-left: 1%;
}

form > ul {
  line-height: 2;
}

li {
  line-height: 3;
}

.subtitle {
  font-weight: 700;
  line-height: 2;
}

.input-wrapper {
  display: inline-block;
  position: relative;
  max-width: 500px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  transition: all ease-in-out 0.3s;
  overflow: visible;
}

input::placeholder {
  color: skyblue;
  font-weight: 700;
  font-size: 1em;
  animation: blinker 1s linear infinite;
}

input:focus::placeholder {
  /* Stop the blinking when the input is focused */
  animation: none;
}

@keyframes blinker {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

input:focus {
  outline: none;
  color: skyblue;
}

input:focus::placeholder {
  color: transparent;
}

input {
  border: 0;
  background-color: transparent;
  width: 500px;
  padding: 0 0.25rem;
  color: #4b4d50;
  outline: none;
  overflow: visible;
  padding-bottom: 0.25rem;
  font-weight: 700;
  font-size: 1em;
}

form > ul > button {
  background-color: white;
  padding: 0.125rem 0.25rem;
  border: solid;
  border-radius: 15%;
  color: #4b4d50;
  cursor: pointer;
  font-weight: 700;
}
