#home-background {
  background-image: url("../main-pictures/manhattan-bridge.jpg");
  background-size: cover;
  /* background-color: black; */
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.welcome {
  text-align: center;
  font-family: 'Monserrat';
  margin-bottom: 5vh;
}


.short-statement {
  line-height: 2;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;

}

