#home-background {
  background-image: url("../main-pictures/manhattan-bridge.jpg");
  background-size: cover;
  /* background-color: black; */
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.title {
  
}

.welcome {
  font-size: 6em;
}


.short-statement {
  color: white;
  line-height: 3;
  font-size: 7em;
}