#home-background {
  background-image: url("../main-pictures/manhattan-bridge.jpg");
  background-size: cover;
  /* background-color: black; */
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.title {
  
}

.welcome {
  font-size: 6em;
  padding-left: 0.5em;
}


.short-statement {
  color: white;
  line-height: 3;
  font-size: 1.5rem;
}

#text-1 {
  padding-left: 15%;
}


#text-2 {
  padding-left: 15%;
}


#text-3 {
  padding-left: 30%;
}

#text-4 {
  padding-left: 50%;
}

.arrows-sub-container {
  margin: auto;
}