#home-background {
  background-image: url("../main-pictures/manhattan-bridge.jpg");
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.short-statement {
  color: white;
  line-height: 3;
}

.home-desc-sub-container {
  color: white;
  height: 0rem;
  border: 3px solid line;
  text-align: right;
  padding-right: 10%;
}

.arrows {
  cursor: pointer;
  color: white;
  height: 2em;
  width: 2em;
}
