/* working on the Navbar itself through a self-entitled class name */
.Navbar {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: White;
  opacity: 0.8;
}

#living-water {
  width: 5vw;
  /* display: block; */
}

/* handle div with link items */
.Navbar > .nav-items > a {
  color: #4b4d50;
  font-size: 16px;
  text-decoration: none;
  font-weight: 750;
  font-family: "Times New Roman", Times, serif;
  margin: 0 0 0 5em;
  position: relative;
}

/* change opacity of link items when hovered upon */
.Navbar > .nav-items > a:hover {
  opacity: 1;
  color: skyblue;
}

/* a bell and whistle */
.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;

  /* background-color: green; */
  /* transition: all 0.3s; */
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
}
