@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* working on the Navbar itself through a self-entitled class name */
.Navbar {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: White;
  opacity: 0.8;
}

.image-div {
  padding: 0 10em;
}

#living-water {
  width: 5vw;
  display: block;
}

.nav-items {
  padding-right: 25em;
}

/* handle div with link items */
.Navbar > .nav-items > a {
  color: #4b4d50;
  font-size: 16px;
  text-decoration: none;
  font-weight: 750;
  font-family: "Montserrat";
  margin-right: 5em;
  position: relative;
}

/* change opacity of link items when hovered upon */
.Navbar > .nav-items > a:hover {
  opacity: 1;
  color: skyblue;
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
}

.menu {
  display: none;
}

.exit {
  display: none;
}

/* media queries */

@media (max-width: 267px) {
  .menu {
    height: 1em;
    font-size: 2em;
    display: block;
    align-items: right;
  }
}

@media (min-width: 268px) and (max-width: 1340px) {
  .Navbar {
    display: flex;
    
  }

  .Navbar > .nav-items > a {
    display: none;
  }

  .image-div {
    padding: 0;
    text-align: center;
  }

  #living-water {
    width: 12vh;
  }

  .nav-items {
    padding: 0;
  }

  .menu {
    height: 1em;
    font-size: 2em;
    display: block;
    align-items: right;
    padding-left: 5em;
  }

  .exit {
    height: 1em;
    font-size: 2em;
    padding-left: 6em;
    display: none;
  }
}
