.overlay {
  /* display: block; */
  visibility: none;
  position: fixed;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 145, 145, 0.5);
  cursor: pointer;
}

a:hover {
  color: white;
}

a {
  margin: 1em;
  color: black;
}
