#portfolio-background {
  background-image: url("../main-pictures/interborough-bridge.jpg");
  /* background-image: url("../main-pictures/at-the-park.jpg"); */
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.body-main {
  position: relative;
}

.portfolio-title {
  color: white;
  font-family: "Monserrat";
  text-align: center;
  margin-bottom: 5vh;
}

.portfolio-summary {
  width: 100%;
  line-height: 1.4;
  font-size: 1.5em;
  padding: 5% 10%;
  text-align: center;
  font-weight: 700;
  color: white;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  opacity: 0.9;
  padding-top: 1rem;
}

.project-container {
  height: 10rem;
  width: 10rem;
  background-color: #131311;
  opacity: 0.7;
  border-radius: 30%;
  margin: 2rem;
  padding: 0 2rem;
  border: solid 0.4em white;
  cursor: pointer;
}

.project-container:hover {
  opacity: 1;
}

.project-container-text {
  color: white;
}

#to-do-box {
  background-image: url("../main-pictures/to-do-app.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#triage-box {
  background-image: url("../main-pictures/mt-sinai-app.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
