
#container {
  display: grid;
  grid-gap: 1rem;
}

.front-text {
  display: block;
  padding-right: 10vw;
  width: 30vw;
  margin: auto;
  margin-bottom: 5vh;
  padding-top: 2.5%;
  color: white;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-size: 15px;

}

#text-1 {
  width: 40%;
}

#projects {
  background-size: cover;
}

#photo {
  border: white 5px solid;
  background-image: url("../main\ pictures/kayode-3.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#gallery {
  background-size: cover;
}

#right-arrow {
  color: white;
  /* make this icon bigger and centered */
}